Source: ros-galactic-ament-cpplint
Section: misc
Priority: optional
Maintainer: Audrow Nash <audrow@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-galactic-ament-copyright, ros-galactic-ament-flake8, ros-galactic-ament-pep257, ros-galactic-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-ament-cpplint
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-galactic-ros-workspace
Description: The ability to check code against the Google style conventions using cpplint and generate xUnit test result files.
